<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>[title]</title>
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="__PUBLIC__/css/home/sb-admin.css" rel="stylesheet">
    <link href="__PUBLIC__/css/common/page.css" rel="stylesheet">
    <link href="__PUBLIC__/layer/skin/default/layer.css" rel="stylesheet">
    <link href="__PUBLIC__/css/common/reset.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <include file="Common/top" />

