<include file="Common/header" title="请假列表" />
<div id="page-wrapper">
    <include file="Common/sidebar" />
    <div class="content">
        <div class="content-top">
            <div class="col-md-4">
                <button type="button" class="btn btn-info" onclick="addLeave();">添加</button>
                <button type="button" class="btn btn-info"><a href="{:U('leave/index')}" class="col-md-2">全部</a></button>
            </div>
            <div class="col-md-4" style="float:right;">
                <form action="{:U('leave/index')}" method="post">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" name="key" placeholder="输入用户名关键词搜索">
                        <span class="input-group-btn">
                            <button id="search" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>姓名</td>
                    <td>起始日期</td>
                    <td>結束日期</td>
                    <td>请假原因</td>
                    <td>状态</td>
                </tr>
            </thead>
            <tbody>
                <foreach name="leave" item="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.username}</td>
                        <td>{$v.start}</td>
                        <td>{$v.end}</td>
                        <td><a style="margin-right: 10px;"><span class="label label-info" onclick="check({$v.id})">查看</span></a></td>
                        <if condition="$v.state eq 1"> 
                            <td><a href="#" ><span class="label label-success">已批准</span></a> <a href="{:U('leave/delete?id=')}{$v.id}" style="color:red;" onclick="javascript:return del('禁用后用户将不能登陆后台!\n\n请确认!!!');"><span class="label label-warning">删除</span></a> </td>
                            <else/>
                            <td><a href="#" ><span class="label label-danger">不批准</span></a> <a href="{:U('leave/delete?id=')}{$v.id}" style="color:red;" onclick="javascript:return del('删除后将不能看到该条信息!\n\n请确认!!!');"><span class="label label-warning">删除</span></a></td>
                        </if>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="green-black">{$page}</div>
</div>
<script type="text/javascript">
    $(function () { 
        var options={
            animation:true,
            trigger:'hover'
        };
        $('.reason').tooltip(options); });
</script>
<include file="add" />
<include file="check" />
<include file="Common/footer" />