<include file="Common/header" title="工资信息" />
<div id="page-wrapper">
    <include file="Common/sidebar" />
    <div class="content">
        <div class="content-top">
            <div class="col-md-4">
                <!-- <button type="button" class="btn btn-info" onclick="addSalary();">添加</button> -->
                <button type="button" class="btn btn-info"><a href="{:U('salary/index')}" class="col-md-2">全部</a></button>
            </div>
            <div class="col-md-4" style="float:right;">
                <form action="{:U('salary/index')}" method="post">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" name="key" placeholder="输入用户名关键词搜索">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>姓名</td>
                    <td>部门</td>
                    <td>职务</td>
                    <td>结算年月</td>
                    <td>工资</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <foreach name="salary" item="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.username}</td>
                        <td>{$v.department}</td>
                        <td>{$v.job}</td>
                        <td>{$v.redate}</td>
                        <td>{$v.salary}</td>
                        <td><a style="margin-right: 10px;"><span class="label label-info" onclick="updateSalary({$v.id})">编辑</span></a> <a href="{:U('salary/delete?id=')}{$v.id}" style="color:red;" onclick="return del('删除后用户将不存在!\n\n请确认!!!');"><span class="label label-warning">删除</span></a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
        <div class="green-black">{$page}</div>
    </div>
</div>
<include file="add" />
<include file="update" />
<include file="Common/footer" />