<include file="Common/header" title="部门信息" />
<div id="page-wrapper">
    <include file="Common/sidebar" />
    <div class="content">
        <div class="content-top">
            <div class="col-md-4">
                <button type="button" class="btn btn-info"><a href="{:U('department/index')}" class="col-md-2">全部</a></button>
            </div>
            <div class="col-md-4" style="float:right;">
                <form action="{:U('department/index')}" method="post">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" name="key" placeholder="输入用户名关键词搜索">
                        <span class="input-group-btn">
                            <button id="search" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>名称</td>
                    <td>级别</td>
                    <td>办公电话</td>
                    <!-- <td>基本工资</td> -->
                    <td>工作天数</td>
                </tr>
            </thead>
            <tbody>
                <foreach name="department" item="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>{$v.grade}</td>
                        <td>{$v.phone}</td>
                        <!-- <td>{$v.salary}</td> -->
                        <td>{$v.workdays}</td>
                    </tr>
                </foreach>
            </tbody>
        </table>
        <div class="green-black">{$page}</div>
    </div>
</div>
<include file="Common/footer" />